*{
  margin:0;
  padding: 0;
  font-family: orbitron, sans-serif;
}
body{
  /* background-image: url(./images/cronometro-2187641.webp); */
  background-size: cover;
  margin: 0 auto;
  background-color: #F4F6F6 ;  
}
header{
  background:#0f4469;
  min-height:120px;
  display:flex ;
  color: white;
  align-items: center;
}
/* b{
  font-size: 3em;
} */
h1{
  margin-left: 60px;
}
button{
  display:inline-block;
}
#logo-pagina{
  display:inline-block;
  width: 50%;
  padding: 2em; 
}
#musica-lofi{
  width: 50%;
  display:flex;
  justify-content: end;
  padding-right: 20px;
}
#audio-container {
  display: inline-block;
  width: 100px;
}


#audio-icon {
  display: inline-block;
  align-items: center;
  width: 100px;
}
#pause{
  height: 3em;  
}
.supercontainer{
  display:flex;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(148, 191, 216, 0.5);
  gap: 2rem;
  margin-top: 3rem;
  padding-top: 3rem;
  border-radius: 10px;
}

/* CRONOMETRO */
.cronometroContainer {
   display: flex;
   font-size: 80px;
   font-weight: bold;
}
.cronometro{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  min-width: 90px;
  color: #214661;
}
.separador{
  padding: 0 10px;
  color: dimgray;
}
.buttons{
  gap: 1rem;
  display: flex;
}
.btn{
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover{
  transform: scale(1.1);
}
#iniciar{
  background-color: #214661;
  color: #fff;
}
#pausar,#continuar{
  display: none;
}


.fondo-descanso {
  background-color: #ccffe0; /* Temporal*/
}


/*TO-DO LIST*/

.botonera{
  margin-left: 20px;
}

/*
.row{
  display: flex;
  justify-content: center;
}
*/


